<p>
  <strong>Post:</strong>
	<%= @post.postadd %>
</p>
<% pre_like = @post.likes.find { |like| like.user_id == current_user.id} %>
<% if pre_like %>
  <%= button_to 'Unlike', post_like_path(@post, pre_like), method: :delete %>
<% else %>
  <%= button_to 'Like', post_likes_path(@post), method: :post %>
<% end %>
<p>
  <%= @post.likes.count %> <%= (@post.likes.count) == 1 ? 'Like' : 'Likes'%>
</p>
<p>
  <% @post.comments.each do |comment|%>
    <%= comment.content %><br>
  <%end%>
</p>
<h2>Add a comment:</h2>
<%= form_with(model: [ @post, @post.comments.build ], local: true) do |form| %>
  <p>
    <%= form.label :comment %><br>
    <%= form.text_area :content %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
<% if current_user == @post.user %>
   <h5><%= "#{current_user.email}'s page" %></h5>
<% elsif current_user.followees.include?(@post.user) %>

   <h5><%= button_to "UnFollow #{@post.user.email}",     
       unfollow_user_path, method: "POST" %></h5>
<% else %>
   <h5><%= button_to "Follow #{@post.user.email}", follow_user_path, 
       method: "POST"  %></h5>
<% end %>
<%= link_to 'Back', posts_path %>

