<%
=begin%>
 <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" /> 
<%
=end%>

<p>
  <strong>Post:</strong>
	<%= @post.postadd %>
</p>

<div id= "like-post-container<%=@post.id%>">
    <%= render 'like_post' %>

</div>
<p id="count">
  <%= @post.likes.count %> <%= (@post.likes.count) == 1 ? 'Like' : 'Likes'%>
</p>
<p>
  <% @post.comments.each do |comment|%>
    <%= comment.content %><br>
  <%end%>
</p>
<h2>Add a comment:</h2>
<%= form_with(model: [ @post, @post.comments.build ], local: true) do |form| %>
  <p>
    <%= form.label :comment %><br>
    <%= form.text_area :content %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
<% if current_user == @post.user %>
   <h5><%= "#{current_user.email}'s page" %></h5>
<% elsif current_user.followees.include?(@post.user) %>

   <h5><%= button_to "UnFollow #{@post.user.email}",     
       unfollow_user_path, method: "POST" %></h5>
<% else %>
   <h5><%= button_to "Follow #{@post.user.email}", follow_user_path, 
       method: "POST"  %></h5>
<% end %>
<%= link_to 'Back', posts_path %>


